.bgcolor{
    background-color:#0e1f31;
}

body{
    color:#0b0a1a;
    background-color:#fcfdf8;
}

a{
    color:#263d43;
}

.header{
    height:20px;
}

.header2{
    min-height:140px;
    background-color:#f5f6ed;
    border-bottom: 2px #3e5358 solid;
}

.centerParent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centerChild{
    display: flex;
  align-items: center;
}

h2{
    padding-left:10px;
}

h4{
     padding-left:25px;
 }

 .lowerShadow{
     box-shadow: 3px 3px 5px 6px #0e1420;
 }
 .upperShadow{
     box-shadow: -3px -3px 5px 3px #0e1420;
 }
